.darkBody {
    background: rgba(128, 128, 128, 0.5);
}

.darkBody .navbar-light {
    background-color: rgba(128, 128, 128, 0.5) !important;
}

.darkBody .flex-column {
    background-color: rgba(128, 128, 128, 0.5) !important;
    border-color: #000000 !important;
}

.darkBody .modal-content {
    background-color: rgb(168, 168, 168);
!important;
}

.darkBody .btn-primary {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.High {
    background-color: rgba(239, 14, 14, 0.5) !important;
    cursor: pointer;
    user-select: none;
}

.Low {
    background-color: rgba(58, 155, 26, 0.5) !important;
    cursor: pointer;
    user-select: none;
}

.Medium {
    background-color: rgba(235, 239, 14, 0.5) !important;
    cursor: pointer;
    user-select: none;
}

.over {
    opacity: 0.7;
    transition: opacity 100ms linear;
}

.list-group {
    min-height: 100px !important;

}

.list-group-item:hover,
.list-group-item:focus {
    border: 1px dashed black;
   /* opacity: 0.7;
    transition: opacity 100ms linear;*/
}
